@{
    ViewBag.Title = "About";
}
<h2>Sobre nosotros</h2>

<p>Los productos agrícolas desempeñan un papel fundamental en nuestra alimentación 
    y en nuestra salud. Consumir alimentos frescos y cultivados localmente proporciona 
    una serie de beneficios tanto para nosotros como para el medio ambiente. Aquí hay
    algunas razones por las que deberíamos consumir productos agrícolas:</p>
<br />
<ol>
    <li>
        <strong>Nutrición y salud:</strong> Los productos agrícolas son una fuente abundante de vitaminas, minerales, 
    fibra y otros nutrientes esenciales para nuestro cuerpo. Al consumir una variedad de frutas y verduras,
    podemos obtener los nutrientes necesarios para mantenernos saludables, fortalecer nuestro sistema 
    inmunológico y prevenir enfermedades crónicas como la obesidad, la diabetes y las enfermedades del corazón.
    </li>
    <li>
        <strong>Sabor y calidad:</strong> Los productos agrícolas frescos tienen un sabor más intenso y
        delicioso en comparación con los alimentos procesados o cultivados en masa. Al consumir productos
        agrícolas locales y de temporada, podemos disfrutar de la frescura y calidad de los alimentos en
        su mejor momento, lo que mejora nuestra experiencia culinaria.
    </li>
    <li>
        <strong>Apoyo a los agricultores locales:</strong> Comprar productos agrícolas locales contribuye
        a apoyar a los agricultores y las economías locales. Al elegir productos cultivados en
        la región, estamos promoviendo la agricultura sostenible y ayudando a mantener viva la
        tradición agrícola en nuestras comunidades.
    </li>
    <li>
        <strong>Sostenibilidad y medio ambiente:</strong> La agricultura sostenible y ecológica se centra en
        el uso responsable de los recursos naturales y la reducción de los impactos negativos en
        el medio ambiente. Consumir productos agrícolas cultivados de manera sostenible ayuda a
        preservar la biodiversidad, reducir la contaminación del suelo y el agua, y mitigar el
        cambio climático.</li>
    <li>
        <strong>Variedad y diversidad:</strong> La agricultura nos proporciona una amplia variedad de productos,
        desde frutas y verduras hasta cereales, legumbres y hierbas aromáticas. Consumir una dieta
        diversa y equilibrada nos expone a una gama más amplia de nutrientes y sabores, y nos ayuda
        a mantener una alimentación saludable.
    </li>
    <li>
        <strong>Conexión con la naturaleza:</strong> Consumir productos agrícolas nos conecta con la tierra y
        nos ayuda a apreciar los ciclos naturales y las estaciones del año. Visitar mercados de
        agricultores, participar en programas de agricultura comunitaria o cultivar nuestros propios
        alimentos en huertos urbanos nos acerca a la naturaleza y nos proporciona una sensación de
        satisfacción y bienestar.
    </li>

</ol>

<br />
<p>En resumen, consumir productos agrícolas no solo nos brinda una nutrición adecuada, 
    sino que también apoya a los agricultores locales, promueve la sostenibilidad y nos 
    conecta con la naturaleza. Al hacerlo, estamos invirtiendo en nuestra propia salud y
    en la salud del planeta.</p>