@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}
<h2>Contacto</h2>
<h3>Contáctanos, estamos para usted en cualquier momento</h3>

<address>
    One Microsoft Way<br />
    Linea Nacional 0180090056898<br />
    <abbr title="Phone">Medellín:</abbr> 32456589<br />
    <abbr title="Phone">Cali:</abbr> 2658965<br />
    <abbr title="Phone">Bogtá:</abbr> 4212152<br />
    <abbr title="Phone">Cartagena:</abbr> 3659845
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">soporte@campecinos.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@campecinos.com</a>
</address>