@{
    ViewBag.Title = "Nosotros";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<div class="jumbotron">
    <h1>Acercampo</h1>
    <p class="lead">
        Te invitamos a explorar nuestra amplia gama de productos campesinos y
        descubrir una experiencia culinaria llena de autenticidad y frescura.
        ¡Ven y prueba los sabores de la tierra en cada bocado! Estamos seguros de que te encantarán.
    </p>
    <p>@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>

</div>
<img src="https://thefoodtech.com/wp-content/uploads/2020/06/exportaci%C3%B3n-de-productos-agr%C3%ADcolas.jpg"
     width="1133"
     height="400"
     alt="" />


<div class="row">
    <div class="col-md-4">
        <h2>Nuestros productos</h2>
        <p>
            En nuestro negocio, nos enorgullece ofrecer una amplia selección de alimentos frescos y saludables.
            Trabajamos en estrecha colaboración con agricultores locales comprometidos con prácticas sostenibles,
            para brindarte productos de la más alta calidad.
        </p>
        <p>@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>Que ofrecemos</h2>
        <p>
            Nuestros productos campesinos son cultivados con amor y cuidado, sin el uso de pesticidas ni químicos dañinos.
            Desde frutas y verduras de temporada hasta huevos, lácteos, miel y mucho más, encontrarás una gran variedad
            de opciones para satisfacer tus necesidades alimenticias.
        </p>
        <p>@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>Porqué nosotros</h2>
        <p>
            Al elegir nuestros productos campesinos, no solo disfrutarás de alimentos deliciosos, sino que también
            estarás apoyando a los agricultores locales y contribuyendo a la preservación de prácticas agrícolas sostenibles.
            ¡Es una forma de comer bien y cuidar el planeta al mismo tiempo!
        </p>
        <p>@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>*@</p>
    </div>
</div>